@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

body,hr{
  background-color: steelblue;
  color: whitesmoke ;
  font-family: 'IBM Plex Serif', serif;

}

.header {
  text-align: center;
  height: 100px;
  background-color: grey;
  margin-bottom: 8%;
}

.fluid-container{
  margin-left:10%;
  margin-right:10%;
}
.btn-success{
  margin-bottom: 6%;
}

.box {
  height: 200px;
  width: 100%;
  text-align: left;
  overflow-y: scroll;
  margin-top: 2% 0 2% 5%;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}

.spacer {
  margin-bottom: 30px;
}